{% extends 'base.html' %}

{% block content %}

<div id="bankModal" class="bank-modal">
    <div class="bank-modal-content">
        <div class="bank-modal-icon">⚠️</div>
        <h3 class="bank-modal-title">Недостаточно средств</h3>
        <p class="bank-modal-text" id="bankModalText">Ошибка</p>
        <button id="bankModalClose" class="bank-modal-btn">Понятно</button>
    </div>
</div>

<div class="form-page">
    <div class="form-card transaction-form-card">

        <div class="transaction-form-top">
            <p class="section-mini">Добавление операции</p>
            <h1>Добавить операцию</h1>
            <p class="section-subtext">
                Заполни данные о доходе или расходе
            </p>
        </div>

        {% if form.non_field_errors %}
            <div class="form-error">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST" class="transaction-form">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}

                    {% if field.errors %}
                        <div class="form-error" style="margin-top:8px;">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="transaction-form-actions">
                <a href="{% url 'dashboard' %}" class="main-btn">Назад</a>
                <button type="submit" class="main-btn green-btn">Сохранить</button>
            </div>
        </form>

    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const modal = document.getElementById("bankModal");
    const modalText = document.getElementById("bankModalText");
    const closeBtn = document.getElementById("bankModalClose");

    const errorText = `{% if form.non_field_errors %}{% for error in form.non_field_errors %}{{ error|escapejs }}{% endfor %}{% endif %}`;

    if (errorText && modal && modalText) {
        modalText.textContent = errorText;
        modal.classList.add("show");
    }

    if (closeBtn) {
        closeBtn.addEventListener("click", function () {
            modal.classList.remove("show");
        });
    }

    if (modal) {
        modal.addEventListener("click", function (e) {
            if (e.target === modal) {
                modal.classList.remove("show");
            }
        });
    }
});
</script>

{% endblock %}

