{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mBank AI</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<header class="navbar">
    <div class="nav-inner">
        <div class="logo-block">
            <div class="logo-circle">m</div>
            <div>
                <h2>mBank AI</h2>
                <p>Financial Assistant</p>
            </div>
        </div>

        <nav class="nav-links">
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'goals_list' %}">Мои цели</a>

            {% if request.user.is_authenticated %}
                <a href="{% url 'profile' %}">{{ request.user.username }}</a>
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
            {% endif %}
        </nav>
    </div>
</header>

<main class="container">
    {% block content %}{% endblock %}
</main>

</body>
</html>