{% extends 'base.html' %}

{% block content %}


<div id="notificationModal" class="bank-modal">
    <div class="bank-modal-content">
        <div class="bank-modal-icon">🔔</div>
        <h3 class="bank-modal-title">Включить уведомления?</h3>
        <p class="bank-modal-text">
            mBank AI может предупреждать о крупных расходах и важных финансовых событиях.
        </p>

        <div style="display:flex; gap:10px; justify-content:center;">
            <button id="allowNotifications" class="bank-modal-btn">Разрешить</button>
            <button id="laterNotifications" class="bank-modal-btn secondary">Позже</button>
        </div>
    </div>
</div>

<div id="mbankToast" class="mbank-toast toast-warning">
    <div class="toast-icon" id="toastIcon">⚠️</div>
    <div class="toast-body">
        <div class="toast-title" id="toastTitle">Предупреждение</div>
        <div class="toast-text" id="toastText">Сообщение</div>
    </div>
    <button id="toastClose" class="toast-close">&times;</button>
</div>


<div class="dashboard-page">

    <div class="welcome-block">
        <div>
            <p class="section-mini">Финансовый кабинет</p>
            <h1>Добро пожаловать, {{ user_name }}</h1>
            <p class="section-subtext">Вот краткий обзор твоих финансов на сегодня.</p>
        </div>
        <a href="{% url 'add_transaction' %}" class="main-btn">+ Добавить расход</a>
    </div>

    <div class="balance-card">
        <p class="balance-label">Текущий баланс</p>
        <h2>{{ balance }} сом</h2>
        <div class="balance-stats">
            <div class="stat-box income">
                <span>Доходы</span>
                <strong>{{ income }} сом</strong>
            </div>
            <div class="stat-box expense">
                <span>Расходы</span>
                <strong>{{ expense }} сом</strong>
            </div>
        </div>
    </div>




<!--    <div class="cards-grid">-->
<!--        <div class="info-card">-->
<!--            <h3>Финансовая цель</h3>-->
<!--            <p>Накопить на новый телефон</p>-->
<!--            <div class="progress-bar">-->
<!--                <div class="progress-fill" style="width: {{ goal_progress }}%;"></div>-->
<!--            </div>-->
<!--            <p class="progress-text">{{ goal_progress }}% выполнено</p>-->
<!--        </div>-->

<!--        <div class="info-card">-->
<!--            <h3>AI совет</h3>-->
<!--            <p>-->
<!--                В этом месяце расходы на мелкие покупки выше обычного.-->
<!--                Попробуй сократить ежедневные траты на 100–150 сом.-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->

    <div class="transactions-card">
        <div class="card-header">
            <h3>Последние операции</h3>
            <a href="#">Смотреть все</a>
        </div>
        <div class="transactions-list">
    {% for transaction in transactions %}
    <div class="transaction-item">
        <div>
            <h4>{{ transaction.title }}</h4>
            <p>{{ transaction.created_at|date:"d M" }}</p>
        </div>
        <strong>
            {% if transaction.transaction_type == 'expense' %}
                -{{ transaction.amount }} сом
            {% else %}
                +{{ transaction.amount }} сом
            {% endif %}
        </strong>
    </div>
    {% empty %}
    <p>Пока нет операций.</p>
    {% endfor %}
        </div>
    </div>

</div>



<div class="analytics-card">
    <h3>Аналитика расходов</h3>

    <div class="analytics-list">
        {% for stat in category_stats %}
        <div class="analytics-item">
            <span>{{ stat.category__name }}</span>
            <strong>{{ stat.total }} сом</strong>
        </div>
        {% empty %}
        <p>Нет данных для анализа</p>
        {% endfor %}
    </div>
</div>


<div class="forecast-card">
    <h3>Прогноз до конца месяца</h3>

    <div class="forecast-list">
        <div class="forecast-item">
            <span>Средний расход в день</span>
            <strong>{{ avg_daily_expense }} сом</strong>
        </div>

        <div class="forecast-item">
            <span>Осталось дней</span>
            <strong>{{ days_left }}</strong>
        </div>

        <div class="forecast-item">
            <span>Ожидаемые траты</span>
            <strong>{{ predicted_expense }} сом</strong>
        </div>

        <div class="forecast-item">
            <span>Прогнозируемый остаток</span>
            <strong>{{ predicted_balance }} сом</strong>
        </div>
    </div>
</div>


{{ category_labels|json_script:"category-labels" }}
{{ category_totals|json_script:"category-totals" }}


<script>
let lastWarningMessage = null;

document.addEventListener("DOMContentLoaded", function () {
    const modal = document.getElementById("notificationModal");
    const allowBtn = document.getElementById("allowNotifications");
    const laterBtn = document.getElementById("laterNotifications");

    const toast = document.getElementById("mbankToast");
    const toastTitle = document.getElementById("toastTitle");
    const toastText = document.getElementById("toastText");
    const toastIcon = document.getElementById("toastIcon");
    const toastClose = document.getElementById("toastClose");

    function showToast(type, title, message, icon = "⚠️") {
        if (!toast || !toastTitle || !toastText || !toastIcon) return;

        toast.className = "mbank-toast " + type;
        toastTitle.textContent = title;
        toastText.textContent = message;
        toastIcon.textContent = icon;

        toast.classList.add("show");

        setTimeout(() => {
            toast.classList.remove("show");
        }, 4500);
    }

    if (toastClose) {
        toastClose.addEventListener("click", function () {
            toast.classList.remove("show");
        });
    }

    /* popup разрешения */
    const notifEnabled = localStorage.getItem("notif_enabled");
    const notifLater = localStorage.getItem("notif_later");

    if (modal && !notifEnabled && !notifLater) {
        modal.classList.add("show");
    }

    if (allowBtn) {
    allowBtn.addEventListener("click", async function () {
        if ("Notification" in window) {
            const permission = await Notification.requestPermission();

            if (permission === "granted") {
                localStorage.setItem("notif_enabled", "true");

                showToast(
                    "toast-success",
                    "Уведомления включены",
                    "Теперь mBank AI будет показывать важные события.",
                    "✅"
                );
            } else {
                showToast(
                    "toast-danger",
                    "Доступ не выдан",
                    "Браузер не разрешил уведомления.",
                    "❌"
                );
            }
        }

        if (modal) modal.classList.remove("show");
    });
}


    if (laterBtn) {
        laterBtn.addEventListener("click", function () {
            localStorage.setItem("notif_later", "true");
            if (modal) modal.classList.remove("show");
        });
    }

    /* проверка бюджета */
    async function checkBudgetWarning() {
        try {
            const response = await fetch("/api/budget-warning/");
            const data = await response.json();

            const enabled = localStorage.getItem("notif_enabled") === "true";

            if (
                enabled &&
                data.has_warning &&
                data.warning_message &&
                data.warning_message !== lastWarningMessage
            ) {
                showToast(
                    "toast-warning",
                    "Финансовое предупреждение",
                    data.warning_message,
                    "⚠️"
                );

                lastWarningMessage = data.warning_message;
            }

            if (!data.has_warning) {
                lastWarningMessage = null;
            }
        } catch (error) {
            console.error("Ошибка бюджета:", error);
        }
    }

    checkBudgetWarning();
    setInterval(checkBudgetWarning, 20000);
});
</script>

{% endblock %}